:root {
    --clr-primary: #007931;
    --clr-border-input: #cccccc;
}
.App {
    text-align: center;
}
input[type='text'] {
    border: unset;
    outline: unset;
}
input:focus {
    box-shadow: none !important;
    border-color: var(--clr-border-input) !important;
}
b {
    font-weight: 600 !important;
}
